body {
  background-color: rgb(185, 29, 29);
  margin: auto;
  text-align: center;
}

img {
  border-radius: 50%;
  padding: 10px;
  width: 450px;
  margin: auto;
  display: block;
  max-width: 70%;
}

button {
  background-color: white;
  color: darkred;
  border: white;
  text-align: center;
  width: auto;
  height: auto;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10%;
  padding: 10px;
  margin: auto;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

button:hover {
  background-color: rgb(224, 37, 37);
  color: white;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (min-width: 600px) {
  body {
    background-color: antiquewhite;
    font-size: large;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: burlywood;
    font-size: larger;
  }
}
